.header-background {
	background-color: #191970;
	height: 75px;
	width: 100%;
}

.header-text-title {
	margin-top: -9px; 
	margin-left: 60px; 
	text-decoration: none !important;
       	color: white !important;
}

.login-button {
	margin-top: 24px; 
	margin-right: 60px;
}

.home-icon {
	margin-top: 27px; 
	padding-right: 15px; 
	font-size: 24px;
}

.body-div {
	margin-right: 80px; 
	margin-left: 80px;
}

.sub-container {
	margin-top: 21px;
	margin-left: 21px;
	margin-right: 21px;
	margin-bottom: 21px;
}

.gtr-catalog-panel {
	width: 100%; 
	padding: 0px;
}

.h2-margin {
	margin: 0px;
}

.panel-footer-height {
	height: 40px;
}

.items-count {
	margin: 0px; 
	padding-top: 3px;
}

.redirect-style {
	width: 300px; 
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
