{% extends "appLayout.html" %}
{% block content %}
	<div class = 'pane'>
		<h2>{{update_type}} Item</h2>
		<form action="" method="post">
			<label for="itemName">Item Name</label>
			{% if item %}
			<input name="itemName" type="text" value="{{item.name}}">
			{% else %}
			<input name="itemName" type="text" value="">
			{% endif %}

			<label for="description">Description</label>
			{% if item %}
			<input name="description" type="text" value="{{item.description}}">
			{% else %}
			<input name="description" type="text" value="">
			{% endif %}

			<label for="category">Category</label>
			<select name="category">
				{% for category in categories %}
				<option value="{{category.name}}">{{category.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Submit">
		</form>
	</div>
{% endblock %}
