<!doctype html>
<html>
	<head>
		<title>Guitar Catalog</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='catalogApp.css') }}">
	</head>
	<body>
		<header class="header-background">
			<a href="/catalog" class="pull-left" style="margin-top: -1px; margin-left: 60px; text-decoration: none; color: white;"><h1>Guitar Catalog</h1></a>
			<button class="btn btn-primary pull-right" style="margin-top: 24px; margin-right: 60px;">Login</button>
		</header>
		{% block content %}{% endblock %}
	</body>
</html>
