{% extends "appLayout.html" %}
{% block content %}
	<div class = 'pane'>
		<h2>Edit Item</h2>
		<form action="{{ url_for('editItem', category_name=category_name, item_name=item.name)}}" method='POST'>
			<div>
				<label for="itemName">Item Name</label>
				<input name="itemName" type="text" placeholder="{{item.name}}">
			</div>
			<div>
				<label for="description">Description</label>
				<input name="description" type="text" placeholder="{{item.description}}">
			</div>
			<div>
				<label for="categoryName">Category</label>
				<select name="categoryName">
					{% for category in categories %}
					<option value="{{category.name}}">{{category.name}}</option>
					{% endfor %}
				</select>
			</div>
			<div>
				<input type="submit" value="Submit">
			</div>
		</form>
	</div>
{% endblock %}
