<header class="header-background">
	<h1 class="pull-left"><a href="/catalog/" class="header-text-title">Guitar Catalog</a></h1>
	{% if login_session['logged_in'] == True %}
		<div class="pull-right">
			<a href="{{url_for('gdisconnect')}}" class="btn btn-primary login-button pull-right" role="button">Logout</a>
			<div class="pull-right" style="margin-top: 33px; margin-right: 15px; color: white;">Welcome {{login_session['username']}}!</div>
		</div>
	{% else %}
		<a href="{{url_for('showLogin')}}" class="btn btn-primary login-button pull-right" role="button">Login</a>
	{% endif %}
	<a href="/catalog/">
		<span class="glyphicon glyphicon-home home-icon pull-right"></span>
	</a>
</header>
<div>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div style="padding-top: 15px;">{{ message }}</div>
		{% endfor %}
	{% endif %}
	{% endwith %}
</div>
